*, *:before, *:after {
	box-sizing: border-box;
}

body {
    font-family: Roboto;
    margin: 0;
}

h2, h3 {
    color: #122E42;
}

/* header */
header {
    background-color: #56A0D3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px;
    padding-left: 10px;
}

h1 {
	margin: 0;
	font-size: 2.5em;
	color: white;
}

/* navigation */
nav ul {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: white;
	width: 100%;
}

/* footer */
footer {
    background-color: #56A0D3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: right;
}

footer h2 {
	margin-bottom: 0;
	margin-top: 25px;
}

footer p {
    color: #185E8E;
    margin-top: 5px;
}

footer img {
    width: 150px;
    display: flex;
    align-self: center;
}

/* for location pages */
.location-category { /* For example, the word "Libraries" which appears at the top of the page */
    margin: 0;
    text-align: center;
    background-color: #B0E2ED;
    padding: 20px;
}

.locations-main-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr)
}

.location img {
    float: left;
    width: 40%;
    padding: 50px;
}

.location div {
    text-align: center;
    margin-right: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location a {
    background-color: #56A0D3;
    border-radius: 25px;
    padding: 15px;
    width: 50%;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.location a:hover, .location a:focus {
    background-color: #185E8E;
    text-decoration: underline;
}

/* desktop view */
@media screen and (min-width: 800px) {
	/*  header  */
    header {
    	background-color: white;
    	justify-content: inherit;
    	flex-wrap: wrap;
    	padding: 10px 0;
    }

    header img {
    	width: 145px;
    }

    h1 {
    	color: #56A0D3;
    }

    nav {
    	background-color: #56A0D3;
    	width: 100%;
    }

    nav li {
    	text-align: center;
    }

    nav a {
    	font-size: 1.25em;
    }

    nav a:hover, nav a:focus {
		background-color: white;
		color: #56A0D3;
		padding: 15px;
	}

	/*  footer  */
	footer img {
		margin-left: 25px;
	}

	footer div {
		margin-right: 25px;
	}

	/* location */
    .locations-main-grid {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr)
    }

    .location img {
        float: none;
        width: 80%;
        padding: 50px;
    }

    .location div {
        display: block;
        margin: 20px;
        height:auto;
    }

    .location a {
        padding: 15px 50px 15px 50px;
    }
}
